<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>

    <!-- Filter the Products   -->
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-10">
                <input [(ngModel)]="textFilter" name="textFilter" type="text" placeholder="type to filter" />
            </div>
        </div>
        <div class="row" *ngIf="textFilter">
            <div class="col-md-12">
                <h3>Filtered by: {{ textFilter }} (reversed: {{ textFilter | reverse }} 👌)</h3>
            </div>
        </div>

        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <button (click)="toggleImage()" class="btn btn-primary">
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products | async'>
                        <td><img *ngIf="showImage" [src]="product.imageUrl" width="150px" /></td>
                        <td>
                          <a href="javascript:;">
                            {{ product.productName }}
                          </a>
                        </td>
                        <td>{{ product.productCode | uppercase }}</td>
                        <td>{{ product.releaseDate | date }}</td>
                        <td>{{ product.price | currency }}</td>
                        <td>
                            <app-star-rating [rating]="product.starRating"
                                             (ratingClicked)="updateRating(product, $event)"></app-star-rating>
                            Original value: {{product.starRating}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
