<!-- Using Angular 4.x.x ngIf else syntax -->
<div class="panel panel-primary" *ngIf="product$ | async; let product; else noProduct">
    <div class="panel-heading" style="font-size:large">
        <div class="pull-right">
            <button (click)="toggleMode()" class="btn btn-default">{{ isEdit() ? 'Cancel' : 'Edit' }}</button>
        </div>
        <h4>Detail of {{ product.productName}}</h4>
    </div>

    <div class="panel-body">
        <div class="row" *ngIf="!isEdit(); else myEditForm">
            <div class="col-sm-6">
                <dl class="row">
                    <dt class="col-sm-3">Name:</dt>
                    <dd class="col-sm-9">{{product.productName}}</dd>
                
                    <dt class="col-sm-3">Code:</dt>
                    <dd class="col-sm-9">{{product.productCode}}</dd>
                
                    <dt class="col-sm-3">Description:</dt>
                    <dd class="col-sm-9">{{product.description}}</dd>
                
                    <dt class="col-sm-3">Availability:</dt>
                    <dd class="col-sm-9">{{product.releaseDate}}</dd>
                
                    <dt class="col-sm-3">Price:</dt>
                    <dd class="col-sm-9">{{product.price|currency:"USD":true}}</dd>
                
                    <dt class="col-sm-3">5 Star Rating:</dt>
                    <dd class="col-sm-9">
                        <app-star-rating [rating]="product.starRating" (ratingClicked)="onRatingClicked($event)"></app-star-rating>
                    </dd>
                </dl>
            </div>
            <div class="col-sm-6">
                <img class="center-block img-responsive"
                     [style.height.px]="100"
                     [style.margin.px]="2"
                     [src]="product.imageUrl"
                     [title]="product.productName">
            </div>
        </div>
        <ng-template #myEditForm>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row form-group">
                        <div class="col-sm-3"><label for="productName">Name:</label></div>
                        <div class="col-sm-6">
                            <input type="text" id="productName" class="form-control" formControlName="productName" required />
                            <app-errors [control]="productForm.get('productName')"></app-errors>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3"><label for="productCode">Code:</label></div>
                        <div class="col-sm-6">
                            <input type="text" id="productCode" class="form-control" formControlName="productCode" required />
                            <app-errors [control]="productForm.get('productCode')"></app-errors>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3"><label for="productDescription">Description:</label></div>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="3" formControlName="description"></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3"><label for="productAvailability">Availability:</label></div>
                        <div class="col-sm-6">
                            <input type="text" id="productAvailability" class="form-control" formControlName="releaseDate" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3"><label for="productPrice">Price:</label></div>
                        <div class="col-sm-6">
                            <input type="text" id="productPrice" class="form-control" formControlName="price" required />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3"><label for="productPrice">5 Star Rating:</label></div>
                        <div class="col-sm-6">
                            <app-star-rating [rating]="productForm.get('starRating').value" (ratingClicked)="onRatingClicked($event)"></app-star-rating>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img class="center-block img-responsive"
                        [style.width.px]="200"
                        [style.margin.px]="2"
                        [src]="product.imageUrl"
                        [title]="product.productName">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 text-center">
                    <button type="submit" class="btn btn-primary">Save this awesome form!</button>
                    <button type="button" (click)="initForm(product)" class="btn btn-primary">Reset</button>
                </div>
            </div>
         </form>
        </ng-template>
    </div>

    <div class="panel-footer">
        <div class="row text-center">
          <button class="btn btn-primary" *ngIf="product.id > 1" [routerLink]="['../', getPreviousProductId(product.id)]">&lt;&lt; Previous</button>
          <button class="btn btn-primary" routerLink="../">Back</button>
          <button class="btn btn-primary" [routerLink]="['../', getNextProductId(product.id)]">Next &gt;&gt;</button>
        </div>
    </div>
</div>
<ng-template #noProduct>
  <h1>No product found!</h1>
</ng-template>